$font: "Consolas", monospace, sans-serif;
$color-main:  rgb(0, 79, 182);
$color-sec:  rgb(155, 189, 235);
$color-highligth:  rgb(245, 209, 112);


.BotonFiltro { 
  font-size: 28px;
  float: right;

  .ContadorFiltros {
    font-size: 10px;
    line-height: 13px;
    min-width: 17px;
    margin-left: -8px;
  }
}

.BotoneraSuperior {
  a {
    margin-right: 10px;
  }
}

.OptionsModal {
  label {
    font-weight: bold;
  }
}



.TablaArticulos {
  .Row {
    margin-bottom: 15px;
    padding: 15px 0;
    border: 1px solid $color-sec;
    border-radius: 5px;
  }
}


.TablaUbicaciones {
  .Row {
    margin-bottom: 15px;
    padding: 15px 0;
    border: 1px solid $color-sec;
    border-radius: 5px;

    .Articulo {
      width: 100%;
      margin-top: 10px;
      margin-bottom: 5px;
      margin-left: 30px;
      padding: 10px 20px;
      border-left: 2px solid $color-highligth;
      
    }
  }


}

